* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-size: 1.25rem;
    text-align: center;
}

:root {
    --color-primary:#fafafa;
    --color-accent:#1a1a1a;

    --text-primary:'Hind Madurai', sans-serif;
    --text-accent:'Lora', serif;
    --text-secondary:'Roboto Mono', monospace;
}


/* general rules */

h1,
h2,
h3 {
    font-family: var(--text-accent);
    text-transform: capitalize;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: var(--text-primary);
}



/* header section */

header {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 2em 0;
}

header h1 {
    padding-bottom: 1em;
}

header ul {
    display: flex;
    justify-content: space-around;
}


/* description segment */

.description {
    background: rgb(202, 186, 186) url(../pictures/WhatsApp\ Image\ 2022-11-14\ at\ 15.38.08.jpg) no-repeat fixed;
    background-size: cover;
    color: var(--color-accent);
    background-blend-mode:screen;
    padding: 2em 0 0.5em;
}

.description_div {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.description_div h3 {
    padding-bottom: 0.3em;
}

.description__segments {
    max-width: 70ch;
}


/* work-school segment */

.work-school {
    color: var(--color-accent);
    padding: 1.5em 0.5em;
}

.work-school__div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.borders {
    border: 2px solid var(--color-accent);
    box-shadow: 2px 4px var(--color-accent);
}

/* together segment */

.together {
    padding: 3em 0.3em;
    /* background-image: url(../pictures/blow\ bubble\ 2.jpg); */
    color: var(--color-primary);
    background: #c7bdbd url(../pictures/blow\ bubble\ 2.jpg) no-repeat;
    background-size:cover;
    background-blend-mode:luminosity;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.together p {
    max-width: 70ch;
}

/* footer */

footer {
    padding: 3em 1em;
    background-color: var(--color-accent);
    color: var(--color-primary);
}

/* media query */

@media screen and (min-width:900px) {
    .work-school__div {
        display: grid;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
        grid-template-areas: 
        ". first first . ."
        ". . second second ."
        ". third third . .";
    }
    .work-school__segment1 {
        grid-area: first;
    }
    .work-school__segment2 {
        grid-area: second;
    }
    .work-school__segment3 {
        grid-area: third;
    }
}