* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.25rem;
    text-align: center;
}

:root {
    --color-primary:#fafafa;
    --color-accent:#1a1a1a;
    --color-light:#f5eaea;

    --text-primary:'Hind Madurai', sans-serif;
    --text-accent:'Lora', serif;
    --text-secondary:'Roboto Mono', monospace;
}


/* general rules */

h1,
h2,
h3 {
    font-family: var(--text-accent);
    text-transform: capitalize;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: var(--text-primary);
    max-width: 70ch;
}



/* header section */

header {
    background-color: var(--color-accent);
    color: var(--color-primary);
    min-height: 6vh;
    padding: 2em 0;
}

header h1 {
    padding-bottom: 1em;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header a:hover, header a:focus, .focused {
    border-bottom: 1px solid var(--color-primary);
}

.dark-header {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

/* description segment */

.description {
    background: rgb(202, 186, 186) url(../pictures/WhatsApp\ Image\ 2022-11-14\ at\ 15.38.08.jpg) no-repeat fixed;
    background-size: cover;
    color: var(--color-accent);
    background-blend-mode:screen;
    padding: 2em 0 0.5em;
}

.description_div {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.description_div h3 {
    padding-bottom: 0.3em;
}

.description__segments {
    max-width: 70ch;
}


/* work-school segment */

.work-school {
    color: var(--color-primary);
    padding: 1.5em 0.5em;
    background-color: var(--color-accent);
}

.work-school__div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

.borders {
    border: 2px solid var(--color-primary);
    box-shadow: 2px 4px var(--color-primary);
    max-width: 70ch;
}

/* together segment */

.together {
    padding: 3em 0.3em;
    /* background-image: url(../pictures/blow\ bubble\ 2.jpg); */
    color: var(--color-accent);
    background: #c7bdbd url(../pictures/blow\ bubble\ 2.jpg) no-repeat;
    background-position: center;
    background-size:cover;
    background-blend-mode:overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */

footer {
    padding: 3em 1em;
    min-height: 6vh;
    background-color: var(--color-accent);
    color: var(--color-primary);
}

/* gallery section */

/* .showcase {
    display: flex;
    flex-wrap: wrap;
}

.showcase img {
    flex-grow: ;
} */

.showcase {
    line-height: 0;
    column-gap: 0;
    column-count: 2;
    background-color: var(--color-accent);
}

.showcase > img {
    width: 100%;
}

/* prices section */

.offers {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
}

/* subscription html */

.subs_body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}


/* .box_section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    flex-direction: column;
    gap: 30px;
    background-color: #1d2b3a;
}

.inputbox {
    position:relative;
    width: 250px;
}

.inputbox input {
    width:100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform:capitalize;
    transition: 0.5s;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-right: 1px solid #00dfc4;
    border-left: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.inputbox input:valid,
.inputbox input:focus {
    border: 1px solid #00dfc4;
}

.inputbox:nth-child(2) input:valid ~ span,
.inputbox:nth-child(2) input:focus ~ span{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
}

.bigger-box {
    font-size: 0.8em;
    border-width: 300px;
} */

.bigger-box {
    font-size: 0.8em;
    border-width: 300px;
} 

/* media query */

@media only screen and (min-width:900px) {
    .work-school__div {
        display: grid;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
        grid-template-areas: 
        ". first first . ."
        ". . second second ."
        ". third third . .";
    }
    .work-school__segment1 {
        grid-area: first;
    }
    .work-school__segment2 {
        grid-area: second;
        justify-self: end;
    }
    .work-school__segment3 {
        grid-area: third;
    }
    .showcase {
        column-count: 3;
    }
}

@media only screen and (min-width:1200px) {
    header {
        background-color: var(--color-light);
        color: var(--color-accent);
    }

    header a:hover, header a:focus, .focused {
        border-bottom: 1px solid var(--color-accent);
    }

    .borders {
        border: 2px solid var(--color-accent);
        box-shadow: 2px 4px var(--color-accent);
    }

    .description {
        background: #302f2f url(../pictures/sand\ and\ city.jpg) no-repeat fixed;
        background-size:cover;
        background-position: bottom;
        color: var(--color-primary);
        background-blend-mode:overlay;
    }

    .work-school {
        background: var(--color-light);
        color: var(--color-accent);
    }

    .together {
        background: #302f2f url(../pictures/seaside.jpg) no-repeat fixed;
        background-size: cover;
        background-position: bottom;
        background-blend-mode:overlay;
        color: var(--color-primary);
    }

    footer {
        background-color:var(--color-light);
        color: var(--color-accent);
    }
    
    .showcase {
        column-count: 4;
    }
}